/*
Theme Name: Custom theme
*/

.dbk-notification--container,
.dbk-header--meta
{
    display: none !important;
}

.dbk-visual-navigation {
    margin-bottom: 0 !important;
}

footer .dbk-header--logo {
    min-height: 40px;
}

.accordion__list {
    display: block;
    margin: 0 0 1rem;
}

.accordion__list li {
    padding: 0;
}

.accordion__list li a {
    padding: 0.5rem;
}

header .dbk-header--logo img {
    max-height: 100%;
}

.dbk-header--logo {
    height: 40px;
}

.dbk-footer .accordion__item li a {
    text-transform: uppercase;
}

.admin-bar .ocp.ocp--open {
    top: 46px;
}

.admin-bar .ocp {
    height: calc(100% - 46px);
}

.dbk-ocp-nav .dbk-header--logo {
    height: 40px;
}

.footer_logo img {
    height: 60px;
}

@media (max-width: 767px) {
    .dbk-footer .accordion__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.wpforms-container-full .wpforms-form .wpforms-submit-container,
    .accordion__list li {
        text-align: center;
    }
}

@media (min-width: 992px) {
    .dbk-header--logo {
        height: 100%;
    }
}

@media (min-width: 576px) {
    .dbk-header--logo {
        width: auto;
    }
}

@media (max-width: 575px) {
    .dbk-header--logo {
        margin-top: 0;
    }
}